<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://defensacivil.gob.do/images/plantilla/logo_defensa_civil_ultimate.png" />
    <ion-card-header>
      <ion-card-title style="text-align: center;">Sobre nosotros</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h1 style="font-weight: bold;">Escuela Nacional de Gestión de Riesgos</h1>
      <span>La Escuela Nacional de Gestión de Riesgos fue creada mediante el decreto 364-12, adscrita a la Comisión Nacional de Emergencias y a la Defensa Civil.</span><br><br>
      <h1 style="font-weight: bold;">Comisión Nacional de Emergencias (CNE)</h1>
      <span>La Comisión Nacional de Emergencias (CNE) es una dependencia del Consejo Nacional de Prevención, Mitigación y Respuesta ante Desastres, coordinada y presidida por el Director Ejecutivo de la Defensa Civil. Esta Comisión va conformada por 34 instituciones, a través de las cuales desarrolla sus actividades.</span><br><br>
      <h1 style="font-weight: bold;">Contacto</h1>
      <span>¿Donde estamos ubicados?
        Dirección:
        
        Avenida Ortega y Gasset Esq. Pepillo Salcedo, Plaza de la Salud, Edif. Comisión Nacional de Emergencias, 2do nivel. Ens. La Fe D.N., R.D.
        
        Teléfono:
        
        809-472-8614
        
        Fax:
        
        809-472-8614
        
        Horario:
        
        De Lunes a Viernes de 8:00 AM - 4:00 PM
        
        Correo electrónico:
        
        info@defensacivil.gob.do</span>
    </ion-card-content>
  </ion-card>
</ion-content>
