<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://defensacivil.gob.do/transparencia/images/docs/DCTransparencia.png" />
    <ion-card-header>
      <ion-card-title>Historia</ion-card-title>
      <ion-card-subtitle>Defensa Civil</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     <h2><b>Historia</b></h2>
     <p>La Defensa Civil tuvo su origen en una convocatoria a reunión que se hizo a través de las
      autoridades de la época competente y representativa del conglomerado nacional, tanto civiles
      como militares, para delinear los pasos a seguir frente a cualquier eventualidad de la naturaleza
      que se presentará, especialmente huracanes y Sismos. Esa reunión inicial y subsiguiente dio
      lugar a la formación de una “Junta contra Huracanes en Cuidad Trujillo” con la finalidad de
      proteger vidas y propiedades.
      </p>
      <p>Antes del año 1966, cuando llegaba la temporada de huracanes, un grupo de radioaficionados se
        reunía en la Cruz Roja para estar atentos por si surgía algún tipo de emergencia, inmediatamente
        ponerse a disposición y ayudar en todo lo posible, inclusive, usando sus propios equipos de
        comunicación para así tener contacto con el exterior en caso de que las redes telefónicas
        resultaran afectadas.
      </p>
      <p>Al surgir el triunvirato fue designado el Dr. Rafael Cantizano Arias, como presidente de la Cruz
        Roja y al mismo tiempo nombraron al Ing. Carlos D´ Franco como director de la Defensa Civil,
        quien, con un grupo compuesto por seis personas, se instaló en la calle Francia esquina Galván,
        siendo esa la primera oficina de la Defensa Civil.</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
